#! /usr/bin/python2.7
# -*- coding: utf-8 -*-

# CHANGE/FILL ME
metadir = '.'
pdfdir = '.'


TWITTER = {
    'CONSUMER_KEY': "",
    'CONSUMER_SECRET': "",

    'OAUTH_TOKEN': "",
    'OAUTH_TOKEN_SECRET': "",

    'INTERVAL': 5 * 60,
}

FACEBOOK = {
    'PAGE_ID': "",

    'CLIENT_ID': "",
    'CLIENT_SECRET': "",

    'OAUTH_TOKEN': "",
}

